#left {
    float:left;
    width:45%;
}

#right {
    float:right;
    width:50%;
    margin:20px;
}


.visits{
    padding:15px;
    text-align:center;
    margin:auto;
    font-size:20px;
    color:white;
    background-color:#293462;
}

table {
    text-align:center;
    font-size: 20px;
}

td {
    padding:10px;
}

.instructions{
    padding:10px;
    font-size:18px;
    background-color:#ec9b3b;
}

.student{
    padding:10px;
    background-color:#00818a;
    color:white;
    font-size:20px;
    margin:auto;
    text-align:center;
}