/* Welcome to CSS */

header {
    background-color: #6689A1;
    padding: 1em;
    color: white;
    text-align: center;
}

body {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
    width: 75%;
    margin:auto;
}

h1 {
    color: white;
}

.content{
    padding:50px;
}

.tablink {
    background-color: #555;
    color: white;
    cursor: hand;
    padding: 16px;
    margin: 10px;
    font-size: 20px;
    align-items: center;
    width: 25%;
}

.tablink:hover {
    background-color: #777;
}

#tabcontent {
    /* color: #111; */
    display: none;
    padding: 10px;
    margin: 25px;
    text-align: center;
}

a, #viewsource {
    color: #a4daff;
}

#viewsource {
    text-decoration: underline; 
}

#viewsource:hover {
    cursor: pointer;
}
/* CSS code styles the page! Here's the second flag: mind */