#left {
    padding:15px;
    width: 45%;
    text-align:center;
    margin:auto;
    font-size:20px;
    color:white;
    background-color:#293462;
    float: left
}

#right {
    float: right;
    width: 50%;
    border: solid;
    border-width: 2px;
    padding: 15px;
}

#warning {
    color: red;
}